*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
.tabs{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tabs li{
    padding: 10px;
    background-color: #f6f4f4;
    border-right: 1px solid white;
    cursor: pointer;
    transition: 0.2s;
}
.tabs li:hover,.tabs li.active{
    background-color: #ddd;
}

.tabs li.active{
    font-weight: 600;
}

.code{
    background-color: #ddd;
    
}
.code > div{
    padding: 10px;
    height: 600px;
    
}
.code > div:not(:first-child){
    display: none;
}

.fullpage{
    height: 100vh;
    position: relative;
    background-color: #e5e5e5;
    width: 100vw;
  
}

.control-bar{
    height: 100px;
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center;
}

.btn-dark{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    text-align: center;
    background-color: #000;
    color:white;
    height: 40px;
    width: 70px;
    font-weight: 600;
    cursor: pointer;

}
.btn-dark:hover{
    background-color: rgb(41, 40, 40);
}

.btn-light{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    text-align: center;
    background-color: #fff;
    color:#000;
    height: 40px;
    width: 70px;
    font-weight: 600;
    cursor: pointer;

}
.btn-light:hover{
    background-color: rgb(241, 241, 241);
    transition: 0.2s;
}

.btn-run{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    text-align: center;
    background-color: #38b000;
    color:white;
    height: 40px;
    align-content: center;
    width: 70px;
    font-weight: 600;
    cursor: pointer;
}

.btn-run:hover{
    background-color: #008000;
    transition: 0.2s;
}

.code-editor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
    width: 100%;
    bottom: 10px;
    background-color: #ddd;
    justify-content: center;
    align-items: center;

   
}
.result{
    background-color: white;
    width: 100%;
    height: 100%;
}

#result{
    width:100%;
    height:100%;
}

.editor{
    height: 100%;
    width: 100%;
}

textarea{
    width: 100%;
    height: 95%;
    font-family: 'Ubuntu Mono', monospace;
}

@media only screen and (max-width:500px){
    .code-editor{
     grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr;   
    row-gap: 20px;
    }
    
    .editor{
        height: 500px;
        margin-bottom: 5rem;
    }

    .result{
        height: 500px;
        width: 100%;
    }
 
    .btn-dark{
        margin: 0 15px;
    }
}